/* || CSS Reset (https://andy-bell.co.uk/a-modern-css-reset/) */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* || Custom properties */
:root {
  --color-orange: hsl(25 97% 53%);
  --color-white: hsl(0 0% 100%);
  --color-light-grey: hsl(217 12% 63%);
  --color-medium-grey: hsl(216 12% 54%);
  --color-dark-blue: hsl(213 19% 18%);
  --color-very-dark-blue: hsl(216 12% 8%);
  --font-family-primary: "Overpass", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

/* || Global styles */
body {
  display: grid;
  place-content: center;
  background-color: var(--color-very-dark-blue);
  color: var(--color-light-grey);
  font-family: var(--font-family-primary);
  font-size: 0.875rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.57;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* || Interactive rating component styles */
.card {
  max-width: 25.75rem;
  margin: 1.5rem;
  padding: 1.5rem 1.5rem 2rem;
  border-radius: 0.9375rem;
  background-image: radial-gradient(
    98.96% 98.96% at 50% 0%,
    hsl(215 20% 17%),
    hsl(216 24% 12%)
  );
}

.card > * + * {
  margin-top: var(--flow-space, 1.5rem);
}

.card--centered {
  padding: 2.125rem 1.5rem 2.3125rem;
  text-align: center;
}

.card__icon-container {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-dark-blue);
}

.card__icon {
  width: 0.8725rem;
  height: 0.833125rem;
}

.card__heading {
  --flow-space: 1rem;
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

.card__heading--extra-space {
  --flow-space: 1.8125rem;
}

.card__text {
  --flow-space: 0.625rem;
}

.card__illustration {
  width: 9rem;
  height: 6rem;
  margin-inline: auto;
}

.card__selected-rating-container {
  display: inline-block;
  padding: 0.3125rem 0.75rem;
  background-color: var(--color-dark-blue);
  border-radius: 1.40625rem;
}

.card__selected-rating {
  color: var(--color-orange);
}

/* || Rating form styles */
.rating-form__group {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rating-form__control {
  display: grid;
  grid-template-areas: "radio";
}

.rating-form__radio {
  grid-area: radio;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 2.625rem;
  height: 2.625rem;
  background-color: var(--color-dark-blue);
  border-radius: 50%;
  cursor: pointer;
}

.rating-form__radio:hover {
  background-color: var(--color-orange);
}

.rating-form__radio:checked {
  background-color: var(--color-medium-grey);
}

.rating-form__label {
  grid-area: radio;
  place-self: center;
  color: var(--color-medium-grey);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.0125em;
  line-height: 1.714;
  cursor: pointer;
}

.rating-form__radio:hover + .rating-form__label {
  color: var(--color-white);
}

.rating-form__radio:checked + .rating-form__label {
  color: var(--color-white);
}

.rating-form__submit {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.75rem;
  border: none;
  border-radius: 1.40625rem;
  background-color: var(--color-orange);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.1333em;
  text-transform: uppercase;
  line-height: 1.5;
  cursor: pointer;
}
